body{
  background-color: #EFE5DD;
  background-color: #f7d9ca;
  /* background-color: #F5E1D4; */

  display: grid;
  font-family: "Open Sans", monospace;
  font-size: 20px;
  grid-template-rows: 0fr auto;
  grid-template-columns: 0.5fr minmax(100px, 3fr) 0.5fr ;
  grid-row-gap: 15px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.mouse{
  width: 26px;
  height: 42px;
  border: 2px solid #000;
  border-radius: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.mouse:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    background-color: #000;
    border-radius: 100%  ;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px)
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px)
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
  }


header{
  grid-column: 1/ span 4;
}

ul>li{
  display: inline;
  list-style: none;
}
.landing{
  opacity: 0;
  height: 100vh;
  grid-column: 2/ 3;
  background-color: #f7d9ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -webkit-transition: opacity 3s ease-in;
      -moz-transition: opacity 3s ease-in;
       -ms-transition: opacity 3s ease-in;
        -o-transition: opacity 3s ease-in;
           transition: opacity 3s ease-in;
}
.fade{
  opacity:1;
}
/* @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} */

.landing h1{
  align-self: center;
  font-family: "Homemade Apple";
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

}
.landing h2{
  align-self: center;
  font-family: "Homemade Apple";
  font-size: 40px;
  margin: 0;
}
.bigImg{
  display: grid;
  grid-column: 2/ 3;
  height: 100%;
}
.bigImg>img{
  width: 100%;
  height: auto;
/*
  -webkit-box-shadow: 2px 2px 82px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 2px 2px 82px 0px rgba(0,0,0,0.42); */
  /* box-shadow: 0 0 0 5px #FFF, 0 5px 25px rgba(0,0,0,0.8); */
}
.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -70%;
}
.text-wrapper h1{
  font-family: "Homemade Apple";
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
body>div{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f4f4f4;

}
h2{
  text-align: center;
}
p{
  padding: 20px;
}
.whenWhere{
  height: 100vh;
  text-align: center;
}
.whenWhere > img{
  width: 100%;
  height: auto;
  opacity: 0.7;
}
.gifts{
  height: 100vh;
}
.gifts .giftBtn{
  background-color: #f7d9ca;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color .5s;
}
.gifts .giftBtn:hover{
  background-color: #fff;
  transition: background-color .5s;
}
footer{
  padding-top: 30px;
  font-family: "Homemade Apple";
  grid-column: 1/ span 4;
  border-top: 1px solid #000;
  text-align: center;
  font-weight: 400;
}
