/* Style for div containing information about car travelling */
.tripMethod > div{
    background-color: #ffffff;
    text-align: left;
    margin: 30px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
}
.tripMethod > div > p{
    padding: 0px;
    margin-top: 10px;
}

.tripMethod > div > h5{
    text-align: left;
    margin: 0px;
}
.tripMethod > div > h4{
    text-align: left;
}

@media (min-width: 320px) and (max-width: 480px) {
    .tripMethod>div{
        padding: 5px 5px 5px 5px;
    }
}